<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
      <%= link_to "TodoTecno Stores", root_path, class: "d-flex align-items-center col-md-6 mb-2 mb-md-0 text-primary fw-bolder text-decoration-none" %>
      <div class="col-md-6 text-end">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } , class: "btn btn-outline-primary me-2" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class:"btn btn-warning me-2 " %>
        <%end%>
        <%= button_to "Demo User", users_sign_as_demo_path, class:"btn btn-primary me-2 " %>
      </div>
    </header>
  </div>