<h1 class='text-center'>Thank you!</h1>
<p class='text-center'>Now let's us reach you out!</p>

<div class="card mx-auto" style="width: 30rem;">
  <img src="https://images.unsplash.com/photo-1647427017067-8f33ccbae493?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text text-center">Certified Technicians will evaluate the situation you described and send you back an answer with the next steps</p>
  </div>
</div>

<div class="container text-center">
  <%= link_to 'Back', root_path %>
</div>