<div class="container col-xxl-8 px-4 py-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://images.unsplash.com/photo-1658240527554-9cf987b4de49?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">TodoTecno Stores Repair Services</h1>
        <p class="lead">Having problems with your tech gadgets? Don't worry, we can help you with that! 
          Let us know what's the malfunction and we will answer right away with a quote and further instructions</p>
        <div class="d-grid gap-2 d-md-flex justify-content-center justify-content-md-start">
          <%= link_to "Request a repair", new_repair_request_path, class:"btn btn-primary btn-lg fw-bolder px-4 me-md-2" %>
        </div>
      </div>
    </div>
</div>

<br>

<div> 
  <p class="h3 text-center my-3 fw-bolder">  How can we help? </p>
<div>

<div class="row text-center">
    <div class="col-sm-4">
      <div class="card mx-auto border border-0" style="width: 18rem;">
        <%= image_tag('tool.svg', class:'card-img-top', style:'height:150px')%>
        <div class="card-body">
          <h5 class="card-title h5 fw-bold">Request a Repair</h5>
          <p class="card-text">In case of a product malfunction, you can submit a request for a proper diagnosis</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mx-auto border border-0" style="width: 18rem;">
        <%= image_tag('check-circle.svg', class:'card-img-top', style:'height:150px')%>
        <div class="card-body">
          <h5 class="card-title h5 fw-bold">Certified Technicians</h5>
          <p class="card-text">A certified technician will diagnose and repair your product</p>
        </div>
      </div>
    </div>
   
  <div class="col-sm-4">
      <div class="card mx-auto border border-0" style="width: 18rem;">
        <%= image_tag('cog.svg', class:'card-img-top', style:'height:150px')%>
        <div class="card-body">
          <h5 class="card-title h5 fw-bold">Genuine Parts</h5>
          <p class="card-text"> Your product will be repaired using genuine parts</p>
        </div>
      </div>
    </div>
</div>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top bg-dark text-center mt-auto">
  <!-- Copyright -->
  <div class="text-center p-3">
    <h6 class="text-light">© 2024 Copyright: Tiendas TodoTecno</h5>
  </div>
  <!-- Copyright -->
</footer>