<h1 class='text-center'>Oops!</h1>
<p class='text-center'>We do not cover that kind of product</p>

<div class="card mx-auto" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1611288875785-f62fb9b044a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=397&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text text-center"> Please contact us through our social media for further information </p>
  </div>
</div>

<div class="container text-center">
  <%= link_to 'Volver', root_path %>
</div>