<div class="m-auto">
  <div class="flex flex-col items-center text-center">
    <p class="fs-1 fw-bolder mb-4">404</p>
    <p class="fs-2 mb-4">Oops! It looks like we don't have that page!</p>
    <p class="fs-4 mb-4">Don't worry, you can return to the previous page:</p>
    <%= link_to 'Back', :back, class:'bg-gray-300 hover:bg-gray-400 hover:font-bold text-gray-800 mt-5 py-2 px-4 rounded' %>
  </div>
</div>