<div class="container-md">
  <h3 class="mt-5"> Category: <%= @category.name  %> </h3>
  <br>
  <h5> Available at: </h5>
    <div class="d-flex mt-3" style="width:100%">
      <div class="row">
        <% @category.stores.each do |store| %>
          <div class="card m-2 rounded-card px-0 shadow" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= store.name %></h5>
            </div>
              <p class="text-center">
              </p>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <%= link_to 'Back', categories_path %>
</div>